body{
  text-align: center;
}
button{
  position: absolute;
  width: 140px;
  height: 40px;
  margin-top: 45px;
  margin-right: 25px;
  right: 0px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  background-color: #eeeeee;
  border: 1px solid #5b5b5b;
  border-radius: 300px;
}
button:hover{
  background-color: #5b5b5b;
  color: white;
  cursor: pointer;
}
button:focus {outline:0;}
#logo{
  margin: 45px auto;
}
#logoHolder{
  display: inline-block;
  width: 370px;
  height: 230px;
  border: 2px solid #333333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
#question{
  font-size: 1.563em;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
#answers{
  padding-top: 25px;
  padding-bottom: 45px;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
#answers input[type=radio]{
  width: 15px;
  height: 15px;
  vertical-align:middle;
  margin-right: 4px;
}
ul li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
#list{
  margin: 0 auto 60px;
  height: 65px;
  font-size: 0px;
}
#list .question{
  display: inline-block;
  width: 90px;
  height: 100%;
  background-color: #f6f6f6;
  border-right: 1px solid #dddddd;
}
#list .question:last-child{
  border-right: none;
}
